.Room {
  padding: 12px;
  border: 1px solid #ddd;
}

.Room__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Room__heading {
  font-size: 1.1em;
}

.Room__status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: gray;
}

.Room__status--clean {
  background: yellowgreen;
}

.Room__status--dirty {
  background: crimson;
}
